.products__card {
  justify-content: center;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
  position: relative;
  z-index: 2;
}

.product__item {
  width: 340px;
}

.product__price {
  display: flex;
  margin-top: 25px;
  font-size: 20px;
  line-height: 27px;
  justify-content: space-between;
  margin-bottom: 25px;
}

.product__price b {
  font-weight: 700;
}